* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }

/*aqui comienza el nav*/
.color_baste_nav {
  background-color: #E16036; }

.imginiciobaste {
  height: 40%;
  width: 40%; }

/*aqui comienza el scss del main*/
main {
  border: 1px solid black;
  background-color: #D6CBC1; }
  main .seccion1_index_baste {
    text-align: center; }
    main .seccion1_index_baste h1 {
      font-size: 40px;
      padding: 3%; }
    main .seccion1_index_baste .img_referencia_papelera {
      height: 80%;
      width: 80%; }
  main .seccion2_index_baste {
    background-color: #D6A99A;
    text-align: center;
    margin: 5%;
    border: 1px solid black; }
    main .seccion2_index_baste h2 {
      font-size: 40px; }
    main .seccion2_index_baste p {
      padding: 10px;
      font-size: 20px; }
  main .aside1_index_baste {
    text-align: center;
    margin: 2%; }
    main .aside1_index_baste .divisor1baste {
      background-color: #e89275;
      border: 1px solid black;
      margin-left: 25%;
      margin-right: 25%; }
      main .aside1_index_baste .divisor1baste .h1_index_baste {
        padding: 3%;
        font-size: 40px; }
    main .aside1_index_baste .seccion3_prodest_baste {
      display: flex;
      flex-direction: column;
      align-items: center; }
      main .aside1_index_baste .seccion3_prodest_baste .div_prodest_baste {
        height: 380px;
        width: 300px;
        background-color: #E16036;
        border: 1px solid black;
        margin-top: 10px; }
        main .aside1_index_baste .seccion3_prodest_baste .div_prodest_baste .img_prodest_baste {
          height: 250px;
          width: 200px; }

.divisorpro {
  text-align: center;
  justify-content: center; }

footer {
  background-color: #e89275;
  display: flex;
  flex-direction: row; }
  footer .div_footer_baste1 {
    margin-left: 25px;
    margin-right: 20px; }
    footer .div_footer_baste1 .h2_footer_baste {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 20px; }
    footer .div_footer_baste1 .parraf_footer {
      padding: 0;
      margin: 0;
      font-size: 10px; }
  footer .div_footer_baste2 {
    margin-top: 2%;
    font-size: 10px;
    margin-top: 32px; }

/*ENTREGAS*/
.tituloentregas {
  text-align: center;
  background-color: #e89275;
  border: 1px solid black;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 35px;
  padding: 10px; }
  .tituloentregas .h1entregas {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px; }

.parrafoentregas1 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 17px; }

.divmap {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }
  .divmap .mapama {
    width: 300px;
    height: 225px; }

.botonform {
  height: 50px;
  width: 150px;
  margin-left: 20px;
  margin-bottom: 40px;
  margin-top: 25px;
  background-color: #E16036; }
  .botonform a {
    text-decoration: none;
    color: black;
    font-size: 20px; }

/*CONTACTANOS*/
.divisorcontact {
  text-align: center;
  background-color: #e89275;
  border: solid 1px black;
  margin: 30px;
  padding: 20px;
  padding-bottom: 0px; }
  .divisorcontact .h1contact {
    font-size: 30px; }
  .divisorcontact .parrafocontact {
    font-size: 17px; }

.divformulario {
  background-color: rgba(16, 0, 0, 0.534);
  margin: 20px; }
  .divformulario form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-bottom: 20px; }
    .divformulario form label {
      margin-top: 10px; }
    .divformulario form .inputbaste {
      width: 200px; }
    .divformulario form #botonenviar {
      background-color: #E16036;
      padding: 5px; }

.divisorcontact2 {
  text-align: center;
  background-color: #ecab96;
  border: solid 1px black;
  margin: 30px;
  padding: 20px;
  padding-bottom: 0px; }
  .divisorcontact2 .parrafocontact {
    font-size: 17px; }

/*PRODUCTOS*/
.container_grid_productos {
  display: grid;
  grid-template-columns: 30% 70%; }

.div_header_grid {
  background-color: #ecab96; }

.divtituloproduct {
  background-color: #E16036;
  margin: 20px;
  text-align: center;
  border: 1px solid black; }
  .divtituloproduct .h1product {
    font-size: 25px; }

.h2arranque {
  border: 1px solid black;
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  font-weight: bold; }

.box_articulo {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #86807a; }
  .box_articulo .imagenpro1 {
    width: 200px;
    height: 200px;
    background-color: #86807a; }
  .box_articulo .divtextprod {
    background-color: #E16036;
    border: 1px solid black; }
    .box_articulo .divtextprod .h3product {
      font-size: 17px;
      padding-top: 7px; }

.seccion_arranque {
  display: flex;
  flex-direction: column; }

.nav_independiente {
  margin: 0px;
  padding: 0px; }
  .nav_independiente .ulindbaste {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
    margin-top: 50px; }
    .nav_independiente .ulindbaste .liindbaste {
      list-style: none;
      border: 1px solid black;
      margin-bottom: 20px;
      margin-top: 15px;
      background-color: #E16036; }
      .nav_independiente .ulindbaste .liindbaste .aindbaste {
        text-decoration: none;
        color: black;
        font-size: 15px;
        margin-left: 5px; }

/*footer*/
footer {
  background-color: #e89275;
  display: flex;
  flex-direction: row; }
  footer .div_footer_baste1 {
    border-right: 1px solid black;
    padding-right: 10px;
    margin-left: 25px;
    margin-right: 20px; }
    footer .div_footer_baste1 .h2_footer_baste {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 20px; }
    footer .div_footer_baste1 .parraf_footer {
      padding: 0;
      margin: 0;
      padding-top: 4px;
      font-size: 10px; }
  footer .div_footer_baste2 {
    font-size: 10px;
    margin-top: 32px; }

.divfot1img {
  display: flex;
  flex-direction: row; }

.imgtelefono {
  width: 20px;
  height: 20px;
  padding-bottom: 2px;
  margin-right: 5px; }

.imglocalizacion {
  width: 25px;
  height: 20px;
  margin-bottom: 6px; }

.imgemail {
  width: 20px;
  height: 20px; }

.pemail {
  margin-top: 3px; }

/*aqui comienza la adaptacion para escritorio*/
@media screen and (min-width: 1068px) {
  main {
    border: 1px solid black;
    background-color: #D6CBC1; }
    main .seccion1_index_baste {
      text-align: center; }
      main .seccion1_index_baste h1 {
        font-size: 50px;
        padding: 3%; }
      main .seccion1_index_baste .img_referencia_papelera {
        height: 80%;
        width: 80%; }
    main .seccion2_index_baste {
      background-color: #D6A99A;
      text-align: center;
      margin: 5%;
      border: 1px solid black; }
      main .seccion2_index_baste h2 {
        font-size: 50px; }
      main .seccion2_index_baste p {
        padding: 10px;
        font-size: 20px; }
    main .aside1_index_baste {
      text-align: center;
      margin: 2%; }
      main .aside1_index_baste .divisor1baste {
        background-color: #e89275;
        border: 1px solid black;
        margin-left: 25%;
        margin-right: 25%; }
        main .aside1_index_baste .divisor1baste .h1_index_baste {
          padding: 3%;
          font-size: 50px; }
      main .aside1_index_baste .seccion3_prodest_baste {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        main .aside1_index_baste .seccion3_prodest_baste .div_prodest_baste {
          height: 450px;
          width: 400px;
          background-color: #E16036;
          border: 1px solid black;
          margin-top: 10px;
          margin-left: 7px;
          margin-right: 7px; }
          main .aside1_index_baste .seccion3_prodest_baste .div_prodest_baste .img_prodest_baste {
            height: 310px;
            width: 260px; }
  /*aqui comienza el footerde index*/
  footer {
    background-color: #e89275;
    display: flex;
    flex-direction: row; }
    footer .div_footer_baste1 {
      margin-left: 50px;
      margin-right: 600px; }
      footer .div_footer_baste1 .h2_footer_baste {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 30px; }
      footer .div_footer_baste1 .parraf_footer {
        padding: 0;
        margin: 0;
        font-size: 20px; }
    footer .div_footer_baste2 {
      margin-top: 2%;
      font-size: 20px;
      margin-top: 32px; }
  /*ENTREGAS*/
  .tituloentregas {
    text-align: center;
    background-color: #e89275;
    border: 1px solid black;
    margin-top: 40px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 40px;
    padding: 10px; }
    .tituloentregas .h1entregas {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 40px; }
  .parrafoentregas1 {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 30px; }
  .divmap {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; }
    .divmap .mapama {
      width: 1000px;
      height: 525px; }
  .botonform {
    height: 50px;
    width: 150px;
    margin-left: 150px;
    margin-bottom: 40px;
    margin-top: 25px;
    background-color: #E16036; }
    .botonform a {
      text-decoration: none;
      color: black;
      font-size: 20px; }
  /*CONTACTANOS*/
  .divisorcontact {
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    padding-bottom: 0px; }
    .divisorcontact .h1contact {
      font-size: 45px; }
    .divisorcontact .parrafocontact {
      font-size: 25px; }
  .divformulario {
    margin-right: 200px;
    margin-left: 200px; }
    .divformulario form {
      margin-left: 70px;
      padding-bottom: 50px;
      padding-top: 30px; }
      .divformulario form label {
        margin-top: 20px; }
      .divformulario form #botonenviar {
        margin-top: 20px;
        padding: 5px; }
  .divisorcontact2 {
    text-align: center;
    background-color: #ecab96;
    border: solid 1px black;
    margin-right: 150px;
    margin-left: 150px;
    padding: 20px;
    padding-bottom: 0px; }
    .divisorcontact2 .parrafocontact {
      font-size: 20px; }
  /*PRODUCTOS*/
  .divtituloproduct {
    margin: 20px;
    margin-left: 100PX;
    margin-right: 100PX; }
    .divtituloproduct .h1product {
      font-size: 40px;
      padding: 20px; }
  .h2arranque {
    font-size: 25px;
    margin-right: 10px;
    margin-left: 20px;
    padding: 5px; }
  .box_articulo {
    margin-left: 150px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 40px; }
    .box_articulo .imagenpro1 {
      width: 200px;
      height: 200px;
      background-color: #86807a; }
    .box_articulo .divtextprod {
      background-color: #E16036;
      border: 1px solid black; }
      .box_articulo .divtextprod .h3product {
        font-size: 17px;
        padding-top: 7px; }
  .divisorcada2 {
    display: flex;
    flex-direction: initial; }
  .nav_independiente {
    margin: 0px;
    padding: 0px; }
    .nav_independiente .ulindbaste {
      margin-left: 50px;
      margin-right: 150px;
      padding: 0px;
      margin-top: 50px; }
      .nav_independiente .ulindbaste .liindbaste {
        list-style: none;
        border: 1px solid black;
        margin-bottom: 60px;
        margin-top: 15px;
        background-color: #E16036; }
        .nav_independiente .ulindbaste .liindbaste .aindbaste {
          text-decoration: none;
          color: black;
          font-size: 25px;
          margin-left: 5px; }
  /*FOOTER*/
  footer {
    background-color: #e89275;
    display: flex;
    flex-direction: row; }
    footer .div_footer_baste1 {
      margin-left: 50px;
      margin-right: 400px; }
      footer .div_footer_baste1 .h2_footer_baste {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 30px;
        margin-right: 178px; }
      footer .div_footer_baste1 .parraf_footer {
        padding: 0;
        margin: 0;
        font-size: 20px;
        margin-bottom: 10px; }
    footer .div_footer_baste2 {
      margin-top: 2%;
      font-size: 20px;
      margin-top: 32px; }
  .divfot1img {
    display: flex;
    flex-direction: row; }
  .imgtelefono {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-right: 5px; }
  .imglocalizacion {
    width: 25px;
    height: 20px;
    margin-bottom: 6px; }
  .imgemail {
    width: 20px;
    height: 20px;
    margin-top: 10px; }
  .pemail {
    margin-top: 3px; } }

/*aqui comienza la adptacion a tablet de la pagina de inicio*/
@media screen and (min-width: 760px) and (max-width: 1068px) {
  main {
    border: 1px solid black;
    background-color: #D6CBC1; }
    main .seccion1_index_baste {
      text-align: center; }
      main .seccion1_index_baste h1 {
        font-size: 50px;
        padding: 3%; }
      main .seccion1_index_baste .img_referencia_papelera {
        height: 80%;
        width: 80%; }
    main .seccion2_index_baste {
      background-color: #D6A99A;
      text-align: center;
      margin: 5%;
      border: 1px solid black; }
      main .seccion2_index_baste h2 {
        font-size: 50px; }
      main .seccion2_index_baste p {
        padding: 10px;
        font-size: 20px; }
    main .aside1_index_baste {
      text-align: center;
      margin: 2%; }
      main .aside1_index_baste .divisor1baste {
        background-color: #e89275;
        border: 1px solid black;
        margin-left: 25%;
        margin-right: 25%; }
        main .aside1_index_baste .divisor1baste .h1_index_baste {
          padding: 3%;
          font-size: 50px; }
      main .aside1_index_baste .seccion3_prodest_baste {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        main .aside1_index_baste .seccion3_prodest_baste .div_prodest_baste {
          height: 450px;
          width: 200px;
          background-color: #E16036;
          border: 1px solid black;
          margin-top: 10px;
          margin-left: 7px;
          margin-right: 7px; }
          main .aside1_index_baste .seccion3_prodest_baste .div_prodest_baste .img_prodest_baste {
            height: 250px;
            width: 200px; }
  /*aqui comienza el footerde index*/
  /*ENTREGAS*/
  .tituloentregas {
    text-align: center;
    background-color: #e89275;
    border: 1px solid black;
    margin-top: 40px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 40px;
    padding: 10px; }
    .tituloentregas .h1entregas {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 40px; }
  .parrafoentregas1 {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 30px; }
  .divmap {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; }
    .divmap .mapama {
      width: 600px;
      height: 425px; }
  .botonform {
    height: 50px;
    width: 150px;
    margin-left: 150px;
    margin-bottom: 40px;
    margin-top: 25px;
    background-color: #E16036; }
    .botonform a {
      text-decoration: none;
      color: black;
      font-size: 20px; }
  /*PRODUCTOS*/
  .divtituloproduct {
    margin: 20px;
    margin-left: 100PX;
    margin-right: 100PX; }
    .divtituloproduct .h1product {
      font-size: 30px;
      padding: 20px; }
  .h2arranque {
    font-size: 25px;
    margin-right: 10px;
    margin-left: 20px;
    padding: 5px; }
  .box_articulo {
    margin-left: 55px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 40px; }
    .box_articulo .imagenpro1 {
      width: 200px;
      height: 200px;
      background-color: #86807a; }
    .box_articulo .divtextprod {
      background-color: #E16036;
      border: 1px solid black; }
      .box_articulo .divtextprod .h3product {
        font-size: 17px;
        padding-top: 7px; }
  .divisorcada2 {
    display: flex;
    flex-direction: initial; }
  /*footer*/
  footer {
    background-color: #e89275;
    display: flex;
    flex-direction: row; }
    footer .div_footer_baste1 {
      border-right: 1px solid black;
      padding-right: 200px;
      margin-left: 25px;
      margin-right: 230px; }
      footer .div_footer_baste1 .h2_footer_baste {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 20px; }
      footer .div_footer_baste1 .parraf_footer {
        padding: 0;
        margin: 0;
        padding-top: 4px;
        font-size: 10px; }
    footer .div_footer_baste2 {
      font-size: 10px;
      margin-top: 32px; }
  .divfot1img {
    display: flex;
    flex-direction: row; }
  .imgtelefono {
    width: 20px;
    height: 20px;
    padding-bottom: 2px;
    margin-right: 5px; }
  .imglocalizacion {
    width: 25px;
    height: 20px;
    margin-bottom: 6px; }
  .imgemail {
    width: 20px;
    height: 20px; }
  .pemail {
    margin-top: 3px; } }
