
/*aqui comienza la adaptacion para escritorio*/
@media screen and (min-width: 1068px){
    main{
        border: 1px solid black;
    
        background-color:#D6CBC1 ;
        .seccion1_index_baste{
        
        text-align: center;
        h1{
           font-size: 50px;
           padding: 3%;
        }
        .img_referencia_papelera{
    height: 80%;
    width: 80%;
        }
    }
    
    .seccion2_index_baste{
           background-color: #D6A99A;
           text-align: center;
           margin:5%;
           border: 1px solid black;
        h2{
          font-size: 50px ;
        }
        p{
            padding: 10px;
          font-size: 20px;
        }
    
    
    }
    
    .aside1_index_baste{
        text-align: center;
        margin: 2%;
        .divisor1baste{
            background-color: #e89275;
            border: 1px solid black;
            margin-left: 25%;
            margin-right: 25%;
            .h1_index_baste{
                padding: 3%;
            font-size: 50px;
        }
        }
    
        .seccion3_prodest_baste{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .div_prodest_baste{
                height: 450px;
                width: 400px;
                background-color: #E16036;
                border: 1px solid black;
                margin-top: 10px;
                margin-left: 7px;
                margin-right: 7px;
                
                .img_prodest_baste{
                    
                    height: 310px;
                    width: 260px;
                }
    
            }
    
        }
    
        
    }
    
    }
    /*aqui comienza el footerde index*/
    footer{
        background-color: #e89275;
            display: flex;
            flex-direction: row;
            
        .div_footer_baste1{
            margin-left: 50px;
            margin-right: 600px;
            .h2_footer_baste{
                margin-top: 5px;
                margin-bottom: 5px;
                font-size: 30px;
            }
            .parraf_footer{
             
             padding: 0;
             margin: 0;
             font-size: 20px;
            }
            
            }
           
       .div_footer_baste2{
          
            margin-top: 2%;
            font-size: 20px;
            margin-top: 32px;
    
            
        }
      }
      /*ENTREGAS*/
.tituloentregas{
    
    text-align: center;
    background-color: #e89275;
    border: 1px solid black;
    margin-top: 40px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 40px;
    padding: 10px;

     .h1entregas{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 40px;
     }
}

.parrafoentregas1{
    margin-left: 150px;
    margin-right: 150px;
    font-size: 30px;
}

.divmap{
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;

  .mapama{
    width: 1000px; 
    height: 525px;
  }
   
}

.botonform{
   height: 50px;
   width: 150px;
    margin-left: 150px;
    margin-bottom: 40px;
    margin-top: 25px;
    background-color: #E16036;
    
    a{
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
}



/*CONTACTANOS*/
.divisorcontact{

    
    margin-left: 100px;
    margin-right: 100px;

    padding: 20px;
    padding-bottom: 0px;

     .h1contact{
        font-size: 45px;

     }

     .parrafocontact{
        font-size: 25px;
     }
}

.divformulario{
   
    margin-right: 200px;
    margin-left: 200px;
    

    form{
        
        margin-left: 70px;
        padding-bottom: 50px;
        padding-top: 30px;

        label{
            margin-top: 20px;
        }

        #botonenviar{
            margin-top: 20px;
            padding: 5px;
        }
        
    }
}

.divisorcontact2{

    text-align: center;
    background-color: #ecab96;
    border: solid 1px black;
    margin-right: 150px;
    margin-left: 150px;
    padding: 20px;
    padding-bottom: 0px;

     

     .parrafocontact{
        font-size: 20px;
     }
}


/*PRODUCTOS*/
.divtituloproduct{
    
    margin: 20px;
    margin-left: 100PX;
    margin-right: 100PX;
    

    .h1product{
        font-size: 40px;
        padding: 20px;
    
    }
}

.h2arranque{
   
    font-size: 25px;
    margin-right: 10px;
    margin-left: 20px;
    padding: 5px;
    
}



.box_articulo{
    
    margin-left: 150px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom:40px;
    

    .imagenpro1{
        width:200px;
        height:200px;
        background-color: #86807a;
    }
    .divtextprod{
        background-color: #E16036;
        border: 1px solid black;
        .h3product{
            font-size: 17px;
            padding-top: 7px;
        }
    }
}

.divisorcada2{
   
    display: flex;
    flex-direction: initial;
    
    
}


.nav_independiente{
    margin: 0px;
    padding: 0px;
    

    
    .ulindbaste{
       margin-left: 50px;
       margin-right: 150px;
       padding: 0px;
       margin-top: 50px;
       
        .liindbaste{
            
            list-style: none;
            border: 1px solid black;
            margin-bottom: 60px;
            margin-top: 15px;
            background-color: #E16036;
            
            .aindbaste{
                
                
           text-decoration: none;
           color: black;
           font-size: 25px;
           margin-left: 5px;
           

            }
        }
      
    }
 


}



}




